ion-toolbar {
  --background: #fca311;
  border: #14213d 2px solid;
  text-shadow: 5px 5px 15px black;
}

ion-content.favoritos-container {
  --background: #1f2a47;
  overflow-y: auto;
  padding-bottom: 100px;
}

.favoritos-title {
  font-size: 2.5rem;
  color: #fca311;
  margin: 20px 0;
  text-align: center;
}

.favoritos-list {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  background-color: #14213d;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 15px 15px 5px #d4890f, 10px 10px 5px #e69e0d, 5px 5px 5px #fca311;
}

.favoritos-item {
  background-color: #1f2a47;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.navbar-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar-center ion-button {
  color: #14213d;
  font-weight: bold;
}

@media (max-width: 768px) {
  .favoritos-title {
    font-size: 2rem;
  }

  .favoritos-list {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .favoritos-title {
    font-size: 1.8rem;
  }
}
