<ion-header>
  <ion-toolbar>
    <ion-title class="animate-title">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="login-background">
  <div id="container">
    <strong>Inicia sesión</strong>
    <p>Accede a tu cuenta con tus credenciales</p>

    <form (ngSubmit)="ingresar()">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="usuario"
          name="usuario"
          required
          minlength="3"
          maxlength="8">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          pattern="\\d{4}"
          maxlength="4">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button" type="submit">
        Ingresar
      </ion-button>
    </form>
  </div>
</ion-content>
