<ion-header>
  <ion-toolbar>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container">
  <div class="contenedor">
    <ion-input [(ngModel)]="nombre" placeholder="Nombre" label="Nombre" labelPlacement="stacked"></ion-input>
    <ion-input [(ngModel)]="email" type="email" placeholder="Email" label="Email" labelPlacement="stacked"></ion-input>
    <ion-input [(ngModel)]="generoFavorito" placeholder="Género Favorito" label="Género" labelPlacement="stacked"></ion-input>
    <ion-input [(ngModel)]="ciudad" placeholder="Ciudad" label="Ciudad" labelPlacement="stacked"></ion-input>

    <div class="buttons">
      <ion-button expand="full" (click)="guardar()">Guardar Datos</ion-button>
    </div>
  </div>
</ion-content>
