<ion-content class="ion-padding perfil-container">
  <ion-card class="perfil-card">
    <ion-card-header>
      <ion-card-title class="perfil-title">Información del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-item">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" placeholder="Tu nombre"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Tu correo electrónico"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="guardarPerfil()">Guardar Cambios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
