ion-toolbar{
  --background: #fca311;
  border: #14213d 2px solid;
  text-shadow: 5px 5px 15px black;
}

ion-content.perfil-container {
  --background: #1f2a47; 
}


.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #14213d;
  text-shadow: 5px 5px 15px black;

}

.perfil-card {
  border-radius: 20px;
  place-self: center;
  width: 90%;
  max-width: 600px;
  background-color: #fca311;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 
      15px 15px 5px #d4890f,
      10px 10px 5px #e69e0d,
      5px 5px 5px #fca311;
}

.perfil-title {
  font-size: 2.5rem;
}

.input-item {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .perfil-title {
      font-size: 2rem;
  }
  
  .perfil-card {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  .perfil-title {
      font-size: 1.8rem;
  }

  .input-item {
      max-width: 100%;
  }
}



ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-center {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
  }
  