<ion-header class="header">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button
        routerLink="mis-datos"
        routerLinkActive="ion-segment-button--activated">
        Mis Datos
      </ion-segment-button>
      <ion-segment-button
        routerLink="experiencia-laboral"
        routerLinkActive="ion-segment-button--activated">
        Experiencia
      </ion-segment-button>
      <ion-segment-button
        routerLink="certificaciones"
        routerLinkActive="ion-segment-button--activated">
        Certificaciones
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="navbar-center">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-button>
      <ion-button routerLink="/favoritos">
        <ion-icon name="heart-outline"></ion-icon>
        Favoritos
      </ion-button>
      <ion-button routerLink="/ayuda">
        <ion-icon name="help-circle-outline"></ion-icon>
        Ayuda
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
