.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  --background: #1f2a47;
  color: #ffffff;
  padding: 0;
  text-align: center;
}

ion-toolbar {
  --background: #fca311;
}

.navbar-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
