ion-content {
  --background: #1f2a47;
  color: #ffffff;
  padding: 20px;
}

.contenedor {
  background-color: #fca311;
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

ion-input,
ion-textarea {
  margin-bottom: 15px;
  --background: #ffffff;
  --color: #000000;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

ion-button {
  background-color: #14213d;
  color: #fca311;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
}

.peliculas-container {
  margin-top: 20px;
}

ion-item {
  background-color: #14213d;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
