<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container">
  <div class="contenedor">
    <ion-input [(ngModel)]="nueva.titulo" placeholder="Puesto o Actividad" label="Actividad" labelPlacement="stacked"></ion-input>
    <ion-textarea [(ngModel)]="nueva.descripcion" placeholder="Descripción"></ion-textarea>
    <div class="buttons">
      <ion-button expand="full" (click)="agregar()">Agregar Experiencia</ion-button>
    </div>

    <div class="peliculas-container" *ngIf="experiencias.length">
      <ion-item *ngFor="let e of experiencias">
        <ion-label>
          <h2>{{ e.titulo }}</h2>
          <p>{{ e.descripcion }}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
